<div class="ui centered card">
  <div class="content">
    <%= form_for(:banana, html: {class: "ui form", role: "form"}, url: banana_new_path) do |f| %>
      <div class="one field">
        <div class="field">
          <%= f.label :image, "New Banana" %>
          <%= f.file_field :image %>      
        </div>
      </div>
      <%= f.button "Submit", class: "ui blue submit button"%>        
    <% end %>
  </div>
</div>